<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>169743025032-mgs237hpjjdjr60iaer2cu01jl88k3m3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.169743025032-mgs237hpjjdjr60iaer2cu01jl88k3m3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>169743025032-vj0a0fnp2ueajmdevoe73fgqbnatk3tj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBlk4hFCa0PEkIw1rE6ptD7Kirgawu76AY</string>
	<key>GCM_SENDER_ID</key>
	<string>169743025032</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.pillycase</string>
	<key>PROJECT_ID</key>
	<string>pillcase-45fa0</string>
	<key>STORAGE_BUCKET</key>
	<string>pillcase-45fa0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:169743025032:ios:0c343eaff988384b94703d</string>
</dict>
</plist>